.bot-list li {
    width: 12.5%;
    font-size: 12px;
}

.bot-list li {
    float: left;
    width: 20%;
    height: 190px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #e9f4f9;
    border: 1px solid #fff;
}

.list-container {
    margin: 0 -10px 20px;
    overflow: hidden;
}

.bot-list {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
}

.bot-name {
    color: #666;
    font-size: 12px;
}

.headimg {
    text-align: center;
    border-radius: 100%;
    overflow: hidden;
    width: 40%
}

.list-headimg {
    border-radius: 100%;
    overflow: hidden;
    width: 4.375rem;
    height: 4.375rem;
}

.list-h4 {
    font-size: 21px;
    text-align: center;
}

.list-p {
    font-size: 17px;
    text-align: center;
}

.list-img {
    float: left;
}

.list-text {
    float: left;
}

