<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>社交机器人</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/slick.css" th:href="@{/static/css/slick.css}">
    <link rel="stylesheet" href="../static/css/slick-theme.css" th:href="@{/static/css/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/animate.css" th:href="@{/static/css/animate.css}">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_8d5l8fzk5b87iudi.css">
    <link rel="stylesheet" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.css"> -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css" th:href="@{/static/css/magnific-popup.css}">
    <link rel="stylesheet" href="../static/css/bootsnav.css" th:href="@{/static/css/bootsnav.css}">
    <!--Theme custom css -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/static/css/style.css}">
    <!--Theme Responsive css-->
    <link rel="stylesheet" href="../static/css/responsive.css" th:href="@{/static/css/responsive.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" th:href="@{/static/css/normalize.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.2.0/css/font-awesome.min.css"
          th:href="@{/static/fonts/font-awesome-4.2.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/demo.css" th:href="@{/static/css/demo.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/component.css" th:href="@{/static/css/component.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/list.css" th:href="@{/static/css/list.css}"/>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">

<div class="culmn">
    <!--Home page style-->
    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
        <!-- End Top Search -->
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#home">
                    <div class="logo logo-display m-top-10 text-white"
                         style="font-size: 32px; margin-top: 20px; margin-bottom: auto">
                        Han.SCU
                    </div>
                    <div class="logo logo-scrolled m-top-10" style="font-size: 32px; margin-top: 20px">
                        Han.SCU
                    </div>

                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#addBot">AddBot</a></li>
                    <li><a href="#observer">Observer</a></li>
                    <!--<li><a href="#about">About</a></li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>


        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <div class="widget">
                <h6 class="title">Custom Pages</h6>
                <ul class="link">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">AddBot</a></li>
                    <li><a href="#">Observer</a></li>
                    <!--<li><a href="#">About</a></li>-->
                </ul>
            </div>
        </div>
        <!-- End Side Menu -->
    </nav>


    <!--Home Sections-->
    <section id="home" class="home bg-mega">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home">
                    <div class="home_text">
                        <h1 class="text-white">Weibo Bot <br/> 社交机器人主页</h1>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Home Sections-->

    <section id="addBot" class="content">
        <!--<hr style="height:1px;border:none;border-top:1px solid #875EA2;" />-->
    </section>
    <div class="content container">
        <div class="section_header" style="margin-bottom: 80px">
            添加新机器人
        </div>
        <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="text" id="input-4"/>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                        <span class="input__label-content input__label-content--hoshi">用户名</span>
                    </label>
                </span>
        <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="password" id="input-5"/>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-5">
                        <span class="input__label-content input__label-content--hoshi">密码</span>
                    </label>
                </span>

        <div class="m-top-80" style="margin-bottom: 80px">
            <button type="button" class="btn btn-primary" onclick="postAccount()">确认添加</button>
        </div>
        <div class="m-top-80">
            <div id="successTip" class="alert alert-success alert-dismissible" style="display: none" role="alert"></div>
            <div id="failTip" class="alert alert-danger alert-dismissible" style="display: none" role="alert"></div>
            <div id="warnTip" class="alert alert-warning alert-dismissible" style="display: none" role="alert"></div>
        </div>
    </div>


    <hr style="height:1px;border:none;border-top:1px solid #875EA2;"/>

    <!--observer Section-->
    <section id="observer">
        <div class="container">
            <div class="content">
                <div class="section_header">社交机器人概况</div>
                <span th:text="'(总共有' + ${allCount} + '个机器人，有' + ${activeCount} + '个正在运行，下次启动时间为' + ${startTime} + ')'"></span>
            </div>
            <div class="list-container">
                <ul class="bot-list">
                    <li th:each="bot : ${botList}">
                        <a href="#" th:target="_blank" th:href="@{/account(botId=${bot.botId})}">
                            <img src="#" th:src="${bot.imgSrc}" class="thumbnail headimg" style="margin: 0 auto;"
                                 alt=""/>
                            <br/>
                            <h4 th:text="${bot.nickName}">机器人</h4>
                            <p th:if="${bot.status == 0}" style="font-size: 17px" th:text="'运行中'"></p>
                            <p th:if="${bot.status == 1}" style="font-size: 17px" th:text="'休眠中'"></p>
                            <p th:if="${bot.status == 2}" style="font-size: 17px" th:text="'暂停中'"></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- scroll up-->
    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"> </i></a>
    </div><!-- End off scroll up -->


    <footer id="footer" class="footer bg-black m-top-120">
        <div class="container">
            <div class="row">
                <div class="main_footer text-center p-top-40 p-bottom-30">
                    <p class="wow fadeInRight" data-wow-duration="1s">
                        Weibo Bot - Created in 2019. All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- JS includes -->
<script src="../static/js/jquery.magnific-popup.js" th:src="@{/static/js/jquery.magnific-popup.js}"></script>
<script src="../static/js/jquery.easing.1.3.js" th:src="@{/static/js/jquery.easing.1.3.js}"></script>
<script src="../static/js/slick.min.js" th:src="@{/static/js/slick.min.js}"></script>
<script src="../static/js/jquery.collapse.js" th:src="@{/static/js/jquery.collapse.js}"></script>
<script src="../static/js/bootsnav.js" th:src="@{/static/js/bootsnav.js}"></script>
<script src="../static/js/classie.js" th:src="@{/static/js/classie.js}"></script>
<script src="../static/js/plugins.js" th:src="@{/static/js/plugins.js}"></script>
<script src="../static/js/main.js" th:src="@{/static/js/main.js}"></script>

<script>
    (function () {
        // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
        if (!String.prototype.trim) {
            (function () {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function () {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
            // in case the input is already filled
            if (inputEl.value.trim() !== '') {
                classie.add(inputEl.parentNode, 'input--filled');
            }

            // events:
            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
    })();
    function postAccount() {
        var warnTip = $("#warnTip");
        var failTip = $("#failTip");
        var successTip = $("#successTip");
        var submitBtn = $(".btn.btn-primary");

        //输入框检查
        if (!inputCheck()) {
            warnTip.text("(用户名或密码不能为空！)");
            warnTip.css('display', '');
            return;
        }
        //禁用按钮，并提示等待
        submitBtn.attr("disabled", true);
        warnTip.text("(正在添加账号，请稍等，这可能需要一段时间...)");
        warnTip.css('display', '');

        //flag作为最后成功失败的标志
        var code = "12";
        var attach = "";
        try {
            $.post(
                "/weibo-bot/test",
                {
                    username: $("#input-4").val().trim(),
                    password: $("#input-5").val().trim()
                },
                function (data) {
                    console.log(data);
                    code = data.code;
                    attach = data.attach;
                },
                "json"
            );
        } finally {
            setTimeout(function () {
                //取消显示警告提示，恢复按钮
                warnTip.text("");
                warnTip.css('display', 'none');
                submitBtn.attr("disabled", false);
                //根据结果处理成功失败提示提示
                if (code === "0") {
                    successTip.text("添加账号成功！");
                    var text = "<a href=\"/weibo-bot/account?botId=" + attach + "\" target=\"_blank\" >点击此处查看新社交机器人信息</a>";
                    successTip.append(text);
                    showAlert($(".alert.alert-success"));
                    $("#input-4").val("");
                    $("#input-5").val("");

                } else if (code === "10") {
                    failTip.text("添加账号失败，账号密码有误，请确认后重试");
                    showAlert($(".alert.alert-danger"));

                } else {
                    failTip.text("添加账号失败，请稍后重试");
                    showAlert($(".alert.alert-danger"));
                }
            }, 2000);

        }


    }

    function showAlert(alert) {
        alert.css('display', '');
        setTimeout(function () {
            alert.css('display', 'none');
        }, 8000);
    }

    function inputCheck() {
        var username = $("#input-4").val().trim();
        var password = $("#input-5").val().trim();
        if (username === "" || password === "") {
            return false;
        }
        return true;
    }
</script>
<style>
    .section_header {
        font-size: 160%;
        padding: 0 1em;
        width: 60%;
        font-weight: bold;
        user-select: none;
        color: #6a7989;
        margin-left: auto;
        margin-right: auto;
    }
</style>
</body>
</html>
