<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>机器人信息及运行状态</title>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bot-info.css" th:href="@{/static/css/bot-info.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/list.css" th:href="@{/static/css/list.css}"/>
</head>
<body bgcolor="#f9f7f6">
<div class="wrapper style1 first">
    <article class="container" id="top">
        <div class="row">
            <div class="4u">
                <span class="image fit"><img th:src="${bot.imgSrc}" src="" alt=""/></span>
                <h1 th:text="${bot.nickName}"></h1>
            </div>
            <div class="8u">
                <p th:if="${bot.gender == 0}" th:text="'性别：男'"></p>
                <p th:if="${bot.gender == 1}" th:text="'性别：女'"></p>
                <p th:text="'兴趣爱好：' + ${bot.interests}"></p>
                <p th:text="'所在地：' + ${bot.location}"></p>
                <p th:text="'出生日期：' + ${bot.birthDate}"></p>
                <p th:text="'机器人等级：' + ${bot.botLevel}"></p>
                <p th:if="${bot.status == 0}" th:text="'运行状态：运行中'"></p>
                <p th:if="${bot.status == 1}" th:text="'运行状态：休眠中'"></p>
                <p th:if="${bot.status == 2}" th:text="'运行状态：暂停中'"></p>
                <p id="botId" th:text="${bot.botId}" style="display: none"></p>
                <a href="#" onclick="getSubscribeList()" class="button big scrolly" data-toggle="modal"
                   data-target="#myModal">查看关注列表</a>
                <a id="pauseBtn" onclick="parseWeiboBot()" href="javascript:void(0);"
                   class="button big scrolly">暂停机器人运行</a>
                <p id="pauseTip"></p>
            </div>
        </div>
    </article>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">社交机器人关注列表</h3>
            </div>
            <div class="modal-body">
                <div class="list-container" style="overflow: auto;">
                    <ul id="subscribeList" class="bot-list">
                        正在获取，请稍等...
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper style2">
    <div class="container">
        <h2 style="text-align: center">机器人运行状态</h2>
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
<script>
    /*
     *webSocket链接
     */
    var socket;
    if (typeof (WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
    } else {
        var url = "ws://localhost:8080/weibo-bot/websocket/" + $("#botId").text();
        socket = new WebSocket(url);

        //打开事件
        socket.onopen = function () {
            // socket.send($("#botId").text());
        };
        //获得消息事件
        socket.onmessage = function (event) {
            //发现消息进入
            var obj = eval('(' + event.data + ')');
            var q = $(".panel-body");
            var text = "<p class='panel-text'>" + obj.msg + ":</p>";
            var imgName = obj.attach;
            if (imgName !== undefined) {
                getImage(imgName, text);

            } else {
                q.prepend(text + "\n");
            }
        };
    }


    function getImage(imgName, text) {
        var xhr = new XMLHttpRequest();
        xhr.open("get", "/weibo-bot/image?imgName=" + imgName, true);
        xhr.responseType = "blob";
        xhr.setRequestHeader('Access-Control-Allow-Headers', 'Content-Type, Content-Length, Authorization, Accept, X-Requested-With , yourHeaderFeild');
        xhr.onload = function () {
            if (this.status == 200) {
                console.log(this);
                var blob = this.response;
                var url = window.URL.createObjectURL(blob);
                var img = "<img src='" + url + "' alt='' class='panel-img'>";
                text += img;
                $(".panel-body").prepend(text + "\n");
            }
        };
        xhr.send();
    }
    function parseWeiboBot() {
        $.post(
            "/weibo-bot/pause/",
            {
                "botId": $("#botId").text()
            },
            function () {
                var text = $("#pauseBtn").text();
                if (text === "暂停机器人运行") {
                    $("#pauseTip").text("暂停成功！");
                    $("#pauseBtn").text("恢复机器人运行");
                } else {
                    $("#pauseTip").text("恢复成功！");
                    $("#pauseBtn").text("暂停机器人运行");
                }
            },
            "json"
        );
    }

    function getSubscribeList() {
        $.get(
            "/weibo-bot/subscribe/",
            {
                "botId": $("#botId").text()
            },
            function (data) {
                console.log(data);
                var listContainer = $("#subscribeList");
                if (data.code === "0") {
                    listContainer.text("");
                    var list = eval("(" + data.msg + ")");
                    setSubscribeList(list);
                } else {
                    listContainer.text(jsonData.msg);
                }
            },
            "json"
        );
    }

    function setSubscribeList(list) {
        var botList = $("#subscribeList");
        for (var i in list) {
            var text = "<li><img src=\"" + list[i].headImg
                + "\"  class=\"thumbnail headimg\" style=\"margin: 0 auto; width: 65%\" alt=\"\"/>"
                + "<br/>"
                + "<h5>" + list[i].nickName + "</h5>\n"
                + "<p>" + list[i].intro + "</p></li>";
            botList.append(text);
        }
    }
</script>
<style>
    input[type="button"].big, input[type="submit"].big, input[type="reset"].big, .button.big {
        font-size: 1.5em;
        letter-spacing: -0.025em;
    }

    input[type="button"], input[type="submit"], input[type="reset"], .button {
        padding: 1em 2.35em 1em 2.35em;
        font-size: 1.1em;
    }

    input[type="button"], input[type="submit"], input[type="reset"], .button {
        -webkit-appearance: none;
        position: relative;
        display: inline-block;
        color: #fff !important;
        text-decoration: none;
        font-weight: 700;
        border: 0;
        outline: 0;
        cursor: pointer;
        border-radius: 8px;
        text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
        background: #43B3E0;
    }


</style>
</body>
</html>